<div ng-controller="scheduleController" ng-cloak>
        <md-tabs md-dynamic-height class="md-primary md-hue-1" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
            <md-tab id="tab1">
                <md-tab-label>CTI</md-tab-label>
                <md-tab-body>
                    <md-content>
                        <md-tabs md-dynamic-height class="md-primary md-hue-3" md-selected="selectedIndex" md-border-bottom md-autoselect>
                            <md-tab ng-repeat="tab in tabs"
                                    label="{{tab.title}}">
                                <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                                    <div ng-controller="scheduleContentController as vm" flex ng-cloak>
                                        <md-grid-list
                                                md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                                                md-row-height-gt-md="1:1" md-row-height="4:3"
                                                md-gutter="8px" md-gutter-gt-sm="4px" >
                                            <md-grid-tile ng-repeat="tile in vm.tiles"
                                                          md-rowspan="{{tile.span.row}}"
                                                          md-colspan="{{tile.span.col}}"
                                                          md-colspan-sm="1"
                                                          ng-class="tile.background" >
                                                <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
                                                <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
                                            </md-grid-tile>
                                        </md-grid-list>
                                    </div>
                                    <div ng-bind="tab.content"></div>
                                    <br/>
                                </div>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2">
                <md-tab-label>CTI-ENG</md-tab-label>
                <md-tab-body>
                    CTI_ENG
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3">
                <md-tab-label>IS</md-tab-label>
                <md-tab-body>
                    IS
                </md-tab-body>
            </md-tab>
            <md-tab id="tab4">
                <md-tab-label>INFO</md-tab-label>
                <md-tab-body>
                    INFO
                </md-tab-body>
            </md-tab>
        </md-tabs>
</div>